#background-img{
    position: absolute;
    z-index:-100;
    top: 0;
    width: 100%;
}

.container{
    width: 90%;
    margin: 4rem auto;
}

.cnt-header{
    display: flex;
    justify-content: space-between;
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: hsl(0, 0%, 98%);
    font-family: 'Roboto', sans-serif;
}

.cnt-input{
    width: 100%;
    background-color: hsl(0, 0%, 98%);
}



